.button:disabled
{
    -fx-opacity: 1.0;
    -fx-background-color: royalblue;

}

.button
{
    -fx-background-color: blue;
    -fx-background-radius: 0;

    -fx-text-color: black;
    -fx-background-radius: 0;
    -fx-border-color: white;
    -fx-border-width: 0.2px;
}


